<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="myWeddingConnectionString" connectionString="Data Source=mywedding.cqb8null5yfs.ap-northeast-1.rds.amazonaws.com;Initial Catalog=myWedding;Persist Security Info=True;User ID=iiiSouth9402;Password=marcoLeonPower9402"
      providerName="System.Data.SqlClient" />
    <add name="myWeddingConnectionString1" connectionString="Data Source=.;Initial Catalog=myWedding;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="myWeddingConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\myWedding.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="C__USERS_III_DESKTOP_MYWEDDING_MDFConnectionString"
      connectionString="Data Source=.;Initial Catalog=C:\USERS\III\DESKTOP\MYWEDDING.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Colin"
      connectionString="Data Source=COLIN\SQLEXPRESS;Initial Catalog=myWedding;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="300"/>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
